<b>{{ event.name }}</b><br>
{% if event.desc %}{{ event.desc }}<br>{% endif %}
{% if event.loc %}<b>Место: </b>{{ event.loc }}<br>{% endif %}
{% if event.date %}<b>Время: </b>{{ event.date.strftime("%d.%m.%Y %H:%M") }}<br>{% endif %}