Команды бота:<br>
<br>
/start — приветственное сообщение<br>
/help — справка<br>
/events — мероприятия<br>
/mytickets — ваши билеты<br>
/story — история покупок
<br><br>
В случае неполадок или вопросов пишите <a href="{{ support_tg }}">саппорту</a>