Привееет!<br>
<br>
Это Telegram-бот<br>
<br>
Здесь можно просмотреть список мероприятий, которые мы проводим, а также приобрести билеты на них.<br>
<br>
<br>
Команды бота:<br>
<br>
/start — приветственное сообщение<br>
/help — справка<br>
/events — мероприятия<br>
/mytickets — ваши билеты<br>
/story — история покупок